# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html
[mysqld]
#bind_address = 127.0.0.1
port = 3306
skip_name_resolve

wait_timeout=86400
innodb_buffer_pool_size = 1500M
innodb_log_file_size = 500M
innodb_log_buffer_size = 20M
innodb_flush_log_at_trx_commit = 0
innodb_max_dirty_pages_pct = 30
#---这两个值需要进行磁盘随机写测试后：innodb_io_capacity = max的50-75%
innodb_io_capacity = 4200
innodb_io_capacity_max = 7000
#---
innodb_flush_method = O_DIRECT
# 默认12M。防止高并发下，数据库受影响
innodb_data_file_path = ibdata1:1024M:autoextend

character_set_server = utf8mb4
collation-server = utf8mb4_general_ci
init-connect = 'SET NAMES utf8mb4'

long_query_time = 1
back_log = 500
max_connections = 10000
max_connect_errors = 6000
max_allowed_packet = 32M
binlog_cache_size = 10M
thread_cache_size = 64
#table_open_cache = 4096
##thread_concurrency = 8

default_authentication_plugin = mysql_native_password

key_buffer_size = 32M
transaction-isolation = READ-COMMITTED
default-storage-engine=INNODB
log_bin_trust_function_creators = 1

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

log-error=/var/log/mysqld.log
slow-query-log-file=/var/log/mysql-slow.log

[mysql]
default-character-set=utf8mb4
socket =/var/lib/mysql/mysql.sock

[client]
default-character-set=utf8mb4
socket=/var/lib/mysql/mysql.sock
host=localhost
user=root
password='Lsx*e)^jEM17QaK-'
